<a href="https://colab.research.google.com/github/AndresPautrat/MachineLearning_UPC/blob/main/SKLearn_Coronavirus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install plotly==3.10.0

Collecting plotly
  Downloading https://files.pythonhosted.org/packages/15/90/918bccb0ca60dc6d126d921e2c67126d75949f5da777e6b18c51fb12603d/plotly-4.6.0-py2.py3-none-any.whl (7.1MB)
     |████████████████████████████████| 7.2MB 2.8MB/s
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.12.0)
Requirement already satisfied, skipping upgrade: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly) (1.3.3)
Installing collected packages: plotly
  Found existing installation: plotly 3.10.0
    Uninstalling plotly-3.10.0:
      Successfully uninstalled plotly-3.10.0
Successfully installed plotly-4.6.0

In [ ]:
import pandas as pd
import io
import numpy as np
import matplotlib.pyplot as plt
from google.colab import files
from sklearn.preprocessing import normalize
from sklearn.decomposition import PCA

In [ ]:
import plotly.plotly as py
from plotly.graph_objs import *
import plotly.tools as tls
tls.

ModuleNotFoundError: ignored

In [ ]:
fileUp = files.upload()
data_set = pd.read_csv(io.BytesIO(fileUp['confirmed_global.csv']))

Saving confirmed_global.csv to confirmed_global.csv

In [ ]:
dt=data_set.copy()

In [ ]:
dt.sort_values(by=['4/20/20'], ascending=False)

                Province/State Country/Region  ...  4/23/20  4/24/20
225                        NaN             US  ...   869170   905358
201                        NaN          Spain  ...   213024   219764
137                        NaN          Italy  ...   189973   192994
116                        NaN         France  ...   157026   158636
120                        NaN        Germany  ...   153129   154999
..                         ...            ...  ...      ...      ...
263                        NaN          Yemen  ...        1        1
259  Saint Pierre and Miquelon         France  ...        1        1
78                       Tibet          China  ...        1        1
238                  Recovered         Canada  ...        0        0
231           Diamond Princess         Canada  ...        0        0

[264 rows x 98 columns]

In [ ]:
dt = dt.drop([231,238])

In [ ]:
dt=dt.drop(["Province/State","Country/Region","Lat","Long"],axis=1)

In [ ]:
dt_temp=pd.DataFrame()
for i in range(0,dt.shape[1],7):
  dt_temp["Semana " +str(i/7)]=dt.iloc[:,i]
dt=dt_temp.copy()

In [ ]:
dt_temp=dt.copy()
dt.shape
for i in range(dt.shape[0]):
  for j in range(1,dt.shape[1]):
    dt_temp.iloc[i,j]=dt.iloc[i,j]-dt.iloc[i,j-1]
dt=dt_temp

In [ ]:
dt.iloc[:,:]=normalize(dt.iloc[:,:])

In [ ]:
temp=[]

for i in range(dt.shape[0]):
  if(dt.iloc[i,13]-dt.iloc[i,12]>0):
    temp+=["Aumenta"]
  elif(dt.iloc[i,13]-dt.iloc[i,12]<0):
    temp+=["Disminuye"]
  else:
    temp+=["Igual"]
dt_temp["Target"]=temp
dt.iloc

In [ ]:
dt=dt.drop(["Semana 13.0"],axis=1)

In [ ]:
dt

     Semana 0.0  Semana 1.0  Semana 2.0  ...  Semana 11.0  Semana 12.0     Target
0             0           0           0  ...          207          340    Aumenta
1             0           0           0  ...          141           94    Aumenta
2             0           0           0  ...          725          588    Aumenta
3             0           0           0  ...          174          109  Disminuye
4             0           0           0  ...           11            0    Aumenta
..          ...         ...         ...  ...          ...          ...        ...
259           0           0           0  ...            1            0      Igual
260           0           0           0  ...            2            2  Disminuye
261           0           0           0  ...            4            2  Disminuye
262           0           0           0  ...            4            0      Igual
263           0           0           0  ...            0            1  Disminuye

[262 rows x 14 columns]

In [ ]:
x = dt.iloc[:,:-1].values
y = dt.iloc[:,-1].values

In [ ]:
x[1,:]

array([0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.04503266, 0.17637792, 0.32648679,
       0.42405755, 0.52913376, 0.35275584])

In [ ]:
langs = dt["Target"].value_counts().keys().tolist()

In [ ]:
langs

['Disminuye', 'Aumenta', 'Igual']